body {
  margin: 0 auto;
  font-family: Century Gothic, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04m;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(215, 229, 230);
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  color: rgb(35, 64, 66);
}

.tc{
  background-color: rgb(215, 229, 230);
}
.overflow{
  overflow-y: scroll; 
  height: 800px; 
  width: 80%;
  margin: 30px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.card{
  box-shadow: 5px 5px 5px #878787;
}